//
//  Form
//
.form-border {
  border-top: 1px solid rgba(0,0,0, .25);
}

.section-contact {
  .wpcf7 {
    input,
    p:nth-child(7) textarea {
      border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
  }
}
.wpcf7 {
  .wpcf7-response-output {
    @media (min-width: theme('screens.lg')) {
      grid-column: span 2;
    }
  }
  .wpcf7-not-valid-tip {
    padding-top: .25rem;
  }
  form.sent {
    .wpcf7-response-output {
      color: #5CB342 !important;
    }
  }
  form.invalid,
  form.unaccepted,
  form.failed,
  form.aborted {
    .wpcf7-response-output {
      color: #f00 !important;
    }
  }
  .wpcf7-form {
    @media (min-width: theme('screens.lg')) {
      display: grid;
      grid-template-columns: repeat(2,minmax(0,1fr));
      gap: 1rem;
    }
  }
  p:nth-child(3) {
    input {
      @media (max-width: theme('screens.lg')) {
        margin-top: 0 !important; 
      }
    }
  }
  input {
    background-color: #eeeeee;
    border: none;
    width: 100%;
    padding: 1rem;
    transition: all .3s ease;
    @media (max-width: theme('screens.lg')) {
      margin-top: 2rem; 
    }
    &:focus {
      border-color: #000;
    }
    &.wpcf7-not-valid {
      border-color: #f00;
    }
  }
  p:nth-child(7) {
    grid-column: span 2;
    textarea {
      padding: 1rem;
      background-color: #eeeeee;
      border: none;
      width: 100%;
      @media (max-width: theme('screens.lg')) {
        width: 100%;
        margin-top: 2rem;
      }
      &.wpcf7-not-valid {
        border-color: #f00;
      }
    }
  }
  p:nth-child(8) {
    width: auto;
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    input {
      background-color: #000;
      border: none;
      margin-bottom: 0;
      padding: 1rem 1.5rem;
      text-align: left;
      color: #fff;
      transition-duration: 300;
      width: fit-content;
      text-align: center;
      cursor: pointer;
      &:focus {
        outline: none !important;
      }
      &:hover {
        background-color: #C5C5C5;
        color: #fff;
      }
      &:active {
        background-color: #212121;
      }
    }
  }
  .screen-reader-response {
    display: none;
  }
}

.wpcf7-form-control {
  transition: all .2s ease;
  &:focus {
    outline: solid 1px #946944 ;
    border-radius: .25rem;
  }
}
