//
//  Mobile hover simulation
//
@media (max-width: theme('screens.lg')) {
  .button.mobile-hover {
    &.hovered {
      .button-line {
        animation: buttonLine .4s forwards;
      }
      .button-arrow-top,
      .button-arrow-bottom {
        animation: buttonArrow .4s forwards;
      }
      .button-text {
        transform: translateX(.25rem);
      }
    }
  }
}


