.button a.button-cta {
  color: #F7A02D;
}
.button a.button-cta .button-line,
.button a.button-cta .button-arrow-top,
.button a.button-cta .button-arrow-bottom {
  background-color: #F7A02D;
}
.button a.button-white {
  color: #fff;
}
.button a.button-white .button-line,
.button a.button-white .button-arrow-top,
.button a.button-white .button-arrow-bottom {
  background-color: #fff;
}
.button a.button-faded {
  color: #5D5E5D;
}
.button a.button-faded .button-line,
.button a.button-faded .button-arrow-top,
.button a.button-faded .button-arrow-bottom {
  background-color: #5D5E5D;
}
.button a:hover .button-line {
  animation: buttonLine 0.4s forwards;
}
.button a:hover .button-arrow-top,
.button a:hover .button-arrow-bottom {
  animation: buttonArrow 0.4s forwards;
}
.button a:hover .button-text {
  transform: translateX(0.25rem);
}
.button .button-text {
  transition: all 0.6s ease;
}
.button .button-line-wrapper {
  width: 2rem;
  height: 1rem;
}
.button .button-line {
  margin-top: 2px;
  height: 2px;
  width: 100%;
  transition: width 0.3s ease;
  animation: buttonLineReverse 0.3;
}
.button .button-arrow {
  position: absolute;
  margin-top: 2px;
  right: -2px;
}
.button .button-arrow .button-arrow-top,
.button .button-arrow .button-arrow-bottom {
  transform-origin: center;
  height: 2px;
  width: 0;
  transition: width 0.3s ease;
  animation: buttonArrowReverse 0.3s;
}
.button .button-arrow .button-arrow-top {
  transform: rotate(45deg);
  margin-bottom: 2.5px;
}
.button .button-arrow .button-arrow-bottom {
  transform: rotate(-45deg);
  margin-top: 2.5px;
}

@keyframes buttonLine {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes buttonLineReverse {
  to {
    width: 100%;
  }
}
@keyframes buttonArrow {
  0% {
    width: 0;
    opacity: 0;
  }
  75% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0.5rem;
    opacity: 1;
  }
}
@keyframes buttonArrowReverse {
  0% {
    width: 0.5rem;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.wpcf7 .screen-reader-response,
.wpcf7 .wpcf7-not-valid-tip {
  display: none;
}
.wpcf7 .wpcf7-response-output {
  grid-column: span 2/span 2;
}
.wpcf7 p:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1rem 0;
}
@media (min-width: theme("screens.lg")) {
  .wpcf7 p:not(:first-child) {
    padding: 1.5rem 0;
  }
}
.wpcf7 p:not(:first-child) label {
  font-size: 1.25rem;
}
.wpcf7 input,
.wpcf7 textarea {
  transition: all 0.3s ease;
  width: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.25);
}
.wpcf7 input:focus,
.wpcf7 textarea:focus {
  outline: none !important;
  border: 0 !important;
  color: rgba(255, 255, 255, 0.75);
}
.wpcf7 input::-webkit-input-placeholder,
.wpcf7 textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.25);
}
.wpcf7 input:-moz-placeholder,
.wpcf7 textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.25);
}
.wpcf7 input::-moz-placeholder,
.wpcf7 textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.25);
}
.wpcf7 input:-ms-input-placeholder,
.wpcf7 textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.25);
}
.wpcf7 input:-webkit-autofill, .wpcf7 input:-webkit-autofill:hover, .wpcf7 input:-webkit-autofill:focus, .wpcf7 input:-webkit-autofill:active,
.wpcf7 textarea:-webkit-autofill,
.wpcf7 textarea:-webkit-autofill:hover,
.wpcf7 textarea:-webkit-autofill:focus,
.wpcf7 textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1C1C1C inset;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.75);
  background-color: #1C1C1C !important;
  background-clip: content-box !important;
}
.wpcf7 input[aria-invalid=true],
.wpcf7 textarea[aria-invalid=true] {
  color: rgba(255, 0, 0, 0.75);
}
.wpcf7 input[aria-invalid=true]::-webkit-input-placeholder,
.wpcf7 textarea[aria-invalid=true]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 0, 0, 0.75);
}
.wpcf7 input[aria-invalid=true]:-moz-placeholder,
.wpcf7 textarea[aria-invalid=true]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 0, 0, 0.75);
}
.wpcf7 input[aria-invalid=true]::-moz-placeholder,
.wpcf7 textarea[aria-invalid=true]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 0, 0, 0.75);
}
.wpcf7 input[aria-invalid=true]:-ms-input-placeholder,
.wpcf7 textarea[aria-invalid=true]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 0, 0, 0.75);
}
.wpcf7 p:nth-child(7) {
  grid-column: span 2/span 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
@media (max-width: theme("screens.lg")) {
  .wpcf7 .button {
    padding-top: 1rem;
  }
}
.wpcf7 .button input {
  color: #F7A02D;
}
.wpcf7 .wpcf7-not-valid-tip {
  padding-top: 0.25rem;
}
.wpcf7 form.sent .wpcf7-response-output {
  color: #5CB342 !important;
}
.wpcf7 .wpcf7-response-output {
  margin-bottom: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  color: rgba(255, 0, 0, 0.75) !important;
}
@media (min-width: theme("screens.lg")) {
  .wpcf7 .wpcf7-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 3rem;
  }
}

.footer-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.footer-icon div {
  transition: all 0.3s ease;
}
.footer-icon:hover {
  border-color: #000;
  background-color: #000;
}
.footer-icon:hover div {
  filter: invert(1) brightness(1);
}

footer {
  transition: all 0.3s ease;
  background-size: 110%;
  background-position: -1rem;
}
@media (max-width: theme("screens.lg")) {
  footer {
    background-size: cover;
  }
}
footer.footer-half {
  margin-top: -42.5vh;
  padding-top: 42vh;
}
footer .footer-image svg * {
  stroke-width: 0;
}
@media (min-width: theme("screens.lg")) {
  footer .footer-image {
    max-width: 15rem;
  }
}
footer .footer-line {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
footer .footer-svg-2 .cls-2 {
  fill: #0c2331;
}

.hamburgermenu-active #navbar-standard-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#navbar {
  margin-top: -1px;
  transition: all 0.3s ease;
  background-color: #1C1C1C;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
#navbar.nav-transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-brand svg * {
  stroke-width: 0;
}

.menu-item {
  padding: 2rem 1.5rem;
  text-align: center;
}
.menu-item:last-child {
  padding: 2rem 0 2rem 1.5rem;
}
@media (min-width: theme("screens.xl")) {
  .menu-item:hover a {
    position: relative;
  }
  .menu-item:hover a::after {
    position: absolute;
    transition: all 0.3 ease;
    content: "";
    background-color: #fff;
    display: inline-block;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 1px;
  }
}
.menu-item.button {
  margin-top: 0.5rem;
}
.menu-item a.active {
  position: relative;
}
.menu-item a.active::after {
  transition: all 0.3 ease;
  position: absolute;
  content: "";
  display: inline-block;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #F7A02D;
}
.menu-item.current-menu-item a {
  position: relative;
}
.menu-item.current-menu-item a::after {
  transition: all 0.3 ease;
  position: absolute;
  content: "";
  display: inline-block;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #F7A02D;
}
.menu-item.menu-item-has-children {
  cursor: pointer;
}
@media (max-width: theme("screens.xl")) {
  .menu-item.menu-item-has-children a {
    pointer-events: none;
  }
  .menu-item.menu-item-has-children a:after {
    filter: none !important;
  }
}
.menu-item.menu-item-has-children a:after {
  position: relative !important;
  bottom: 0;
  transition: all 0.3s ease;
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 0.6rem;
  margin-left: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-size: contain;
  background-color: transparent;
  background-image: url("../icons/png/pijl-links-1.png");
}
@media (min-width: theme("screens.xl")) {
  .menu-item.menu-item-has-children a:after {
    height: 0.5rem;
    width: 0.4rem;
  }
}
.menu-item .sub-menu {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
@media (max-width: theme("screens.lg")) {
  .menu-item .sub-menu {
    width: 100%;
    left: 0;
  }
}
.menu-item .sub-menu li {
  background-color: #000;
  max-height: 0rem;
  padding-top: 0;
  padding-bottom: 0;
  transition: all 0.3s ease;
}
@media (max-width: theme("screens.lg")) {
  .menu-item .sub-menu li {
    background-color: #000;
    color: #fff;
  }
}
.menu-item .sub-menu li a {
  pointer-events: all;
  border: none;
}
.menu-item .sub-menu li a:after {
  display: none;
}
@media (min-width: theme("screens.lg")) {
  .menu-item:hover.menu-item-has-children .sub-menu {
    margin-top: 1rem;
    opacity: 1;
  }
  .menu-item:hover.menu-item-has-children .sub-menu li {
    max-height: initial;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .menu-item:hover.menu-item-has-children .sub-menu li:hover {
    background-color: #212121;
    color: #fff;
  }
}

.menu-container li {
  display: inline-block;
  padding-left: 5rem;
  text-align: right;
}

.overflow-hidden #hamburger-menu {
  color: #fff;
}
.overflow-hidden #hamburger-menu .hamburger-line {
  background-color: #fff;
}

.menu-hamburger-container {
  transform: translateY(-100vh);
  transition: all 0.5s ease;
  display: none;
  flex-direction: column;
}
@media (max-width: theme("screens.lg")) {
  .menu-hamburger-container {
    display: flex;
  }
  .menu-hamburger-container #menu-hamburger-menu {
    max-height: 60vh;
    overflow: scroll;
  }
}
.menu-hamburger-container::after {
  opacity: 0;
  transition: all 0.5s ease;
}
.menu-hamburger-container .hamburger-menu-phone {
  order: 2;
}
.menu-hamburger-container .hamburger-menu-phone a:active svg {
  filter: invert(1) brightness(0);
}
.menu-hamburger-container #navbar-standard-collapse {
  order: 1;
}
.menu-hamburger-container.menu-active {
  transform: translateY(0);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #1C1C1C;
  color: #fff;
}
.menu-hamburger-container.menu-active::after {
  opacity: 1;
  content: "";
  width: 100vw;
  height: 200px;
  background-color: #1C1C1C;
  position: absolute;
  bottom: -199px;
}
.menu-hamburger-container .menu-item {
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}
.menu-hamburger-container .menu-item.submenu a {
  pointer-events: none !important;
}
.menu-hamburger-container .menu-item.submenu .sub-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}
.menu-hamburger-container .menu-item.submenu.parent-clicked .sub-menu a {
  pointer-events: all !important;
}
.menu-hamburger-container .menu-item .sub-menu {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
}
.menu-hamburger-container .menu-item .sub-menu li {
  max-height: 0;
  background-color: #fff;
  color: #000;
  padding-top: 0;
  padding-bottom: 0;
}
.menu-hamburger-container .menu-item.parent-clicked a {
  pointer-events: all;
}
.menu-hamburger-container .menu-item.parent-clicked .sub-menu {
  opacity: 1;
  margin-top: 1rem;
}
.menu-hamburger-container .menu-item.parent-clicked .sub-menu li {
  max-height: initial;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.menu-hamburger-container .menu-item.parent-clicked.parent-clicked a:after {
  transform: rotate(90deg);
}

.hamburger-line {
  height: 1px;
}

.hamburger-desktop {
  z-index: 99;
}

#hamburger-menu,
.hamburger-desktop {
  transition: all 0.2s ease;
}
#hamburger-menu .hamburger-line,
.hamburger-desktop .hamburger-line {
  transition: all 0.2s ease;
  transform-origin: center;
}

.hamburger-active .hamburger-top {
  transform: rotate(45deg) translate(6px, 6px);
}
.hamburger-active .hamburger-middle {
  opacity: 0;
}
.hamburger-active .hamburger-bottom {
  transform: rotate(-45deg) translate(5px, -4px);
}

.menu-item.active {
  color: #0A807F;
}

.scroll-element {
  transition: all 1s ease;
}
.scroll-element.section-textimage1, .scroll-element.section-textimage2 {
  overflow-x: hidden;
}
.scroll-element.section-textimage1 .textbox, .scroll-element.section-textimage2 .textbox {
  transform: translateY(3em);
  transition: all 1s ease;
  opacity: 0;
}
@media (min-width: theme("screens.lg")) {
  .scroll-element.section-textimage1 .textbox, .scroll-element.section-textimage2 .textbox {
    transform: translateX(5rem);
  }
}
.scroll-element.section-textimage1 .imagebox, .scroll-element.section-textimage2 .imagebox {
  transform: translateY(3rem);
  transition: all 1s ease;
  opacity: 0;
}
@media (min-width: theme("screens.lg")) {
  .scroll-element.section-textimage1 .imagebox, .scroll-element.section-textimage2 .imagebox {
    transform: translateX(-5rem);
  }
}
.scroll-element.section-textimage1.scrolled .textbox,
.scroll-element.section-textimage1.scrolled .imagebox, .scroll-element.section-textimage2.scrolled .textbox,
.scroll-element.section-textimage2.scrolled .imagebox {
  transform: translate(0);
  opacity: 1;
}
.scroll-element.section-cards {
  transform: translateY(3rem);
  opacity: 0;
}
.scroll-element.section-cards.scrolled {
  transform: translate(0);
  opacity: 1;
}
.scroll-element.section-featuredposts .project-card, .scroll-element.section-allposts .project-card, .scroll-element.section-textcards .project-card {
  transition: all 1s ease;
  opacity: 0;
  transform: translateY(3rem);
}
.scroll-element.section-featuredposts.scrolled .project-card, .scroll-element.section-allposts.scrolled .project-card, .scroll-element.section-textcards.scrolled .project-card {
  opacity: 1;
  transform: translateY(0);
}
.scroll-element.section-featuredposts.scrolled .project-card-1, .scroll-element.section-allposts.scrolled .project-card-1, .scroll-element.section-textcards.scrolled .project-card-1 {
  transition-delay: 0.3s;
}
.scroll-element.section-featuredposts.scrolled .project-card-2, .scroll-element.section-allposts.scrolled .project-card-2, .scroll-element.section-textcards.scrolled .project-card-2 {
  transition-delay: 0.6s;
}
.scroll-element.section-contact, .scroll-element.section-header {
  transform: translateY(3rem);
  opacity: 0;
}
.scroll-element.section-contact.scrolled, .scroll-element.section-header.scrolled {
  transform: translateY(0);
  opacity: 1;
}
@media (max-width: theme("screens.lg")) {
  .scroll-element.section-homeheader .textbox .infobox {
    opacity: 0;
    transform: translateY(3rem);
    transition: all 1s ease;
  }
}
@media (min-width: theme("screens.lg")) {
  .scroll-element.section-homeheader .images {
    transition: all 1s ease;
    transform: translateX(5rem);
  }
  .scroll-element.section-homeheader .textbox {
    transition: all 1s ease;
    transform: translateX(-5rem);
  }
}
.scroll-element.section-homeheader.scrolled .images,
.scroll-element.section-homeheader.scrolled .textbox {
  transform: translateX(0);
}
.scroll-element.section-homeheader.scrolled .images .infobox,
.scroll-element.section-homeheader.scrolled .textbox .infobox {
  opacity: 1;
  transform: translate(0);
}

@media (max-width: theme("screens.lg")) {
  .button.mobile-hover.hovered .button-line {
    animation: buttonLine 0.4s forwards;
  }
  .button.mobile-hover.hovered .button-arrow-top,
.button.mobile-hover.hovered .button-arrow-bottom {
    animation: buttonArrow 0.4s forwards;
  }
  .button.mobile-hover.hovered .button-text {
    transform: translateX(0.25rem);
  }
}
body {
  touch-action: pan-y;
  background-color: #1C1C1C;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

.cta-underlined {
  position: relative;
}
.cta-underlined::after {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F7A02D;
  position: absolute;
  content: "";
  display: block;
}

@media (min-width: theme("screens.lg")) {
  .blok-lg {
    max-width: 1500px;
    width: 100%;
  }
}
@media (min-width: theme("screens.3xl")) {
  .blok-lg {
    max-width: 1800px;
    width: 100%;
  }
}

.svg-box svg {
  height: 100%;
}

@media (min-width: theme("screens.lg")) {
  .blok-md {
    max-width: 1400px;
    width: 100%;
  }
}

b, strong {
  font-weight: bold;
}

section ul {
  margin-left: 1.5rem;
}
section ul li {
  list-style-type: square;
}

.custom-table {
  table-layout: fixed;
  width: 100%;
}
.custom-table th {
  text-align: left;
  background-color: #fff;
}
.custom-table tr {
  height: 2.25rem;
}
.custom-table tr:nth-child(odd) {
  background-color: #eee;
}
.custom-table tr:nth-child(even) {
  background-color: #fff;
}
.custom-table tr td,
.custom-table tr th {
  padding: 0.25rem 1rem;
}

#navbar img,
.section-textimage1 img,
.custom-button img {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.text-last-center {
  text-align-last: center;
}

.invert-black {
  filter: brightness(1) invert(1);
}

.invert-white {
  filter: brightness(0) invert(1);
}

.acf-map {
  height: 20rem !important;
}
@media (min-width: theme("screens.lg")) {
  .acf-map {
    height: 100% !important;
  }
}

.hover-move-x div {
  transition: all 0.2s ease;
}
.hover-move-x:hover div {
  transform: translateX(10px);
}

@media (min-width: theme("screens.lg")) {
  .bg-100 {
    background-size: 101% !important;
  }
}

.point svg {
  height: 100%;
  width: auto;
}

.animate-scrolldown {
  animation: scrolldown 3s ease infinite;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.dynamic-sideblock {
  transition: all 0.3s ease;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1C1C1C;
  z-index: 40;
  pointer-events: none;
}
.dynamic-sideblock.animate-sideblock {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: theme("screens.lg")) {
  * {
    cursor: none;
  }
}

.cursor,
.cursor2 {
  display: none;
}
@media (min-width: theme("screens.lg")) {
  .cursor,
.cursor2 {
    z-index: 50;
    display: block;
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  margin-left: -25px;
  margin-top: -25px;
}
.cursor.hover {
  margin-left: -32.5px;
  margin-top: -32.5px;
  width: 65px;
  height: 65px;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.cursor2.hover {
  opacity: 0.8;
  width: 15px;
  height: 15px;
}
.cursor2.hover.click {
  width: 20px;
  height: 20px;
}
.cursor2.click {
  width: 30px;
  height: 30px;
}

@media (min-width: theme("screens.lg")) {
  .double-phone,
.desktop-windows {
    height: 65rem;
  }
}
@media (min-width: theme("screens.3xl")) {
  .double-phone,
.desktop-windows {
    height: 80rem;
  }
}
.double-phone .textbox,
.desktop-windows .textbox {
  will-change: transform;
}
.double-phone .imagebox,
.desktop-windows .imagebox {
  height: 40rem;
  width: 100%;
}
.double-phone .imagebox .image-content,
.desktop-windows .imagebox .image-content {
  -moz-box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 30px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: theme("screens.lg")) {
  .double-phone .imagebox,
.desktop-windows .imagebox {
    height: 65rem;
    width: 40vw;
  }
}
@media (min-width: theme("screens.3xl")) {
  .double-phone .imagebox,
.desktop-windows .imagebox {
    height: 80rem;
  }
}
.double-phone .imagebox .phone,
.desktop-windows .imagebox .phone {
  position: absolute;
  width: 25rem;
  will-change: transform;
}
@media (min-width: theme("screens.lg")) {
  .double-phone .imagebox .phone,
.desktop-windows .imagebox .phone {
    width: 80%;
  }
}
@media (min-width: theme("screens.2xl")) {
  .double-phone .imagebox .phone,
.desktop-windows .imagebox .phone {
    width: 80%;
  }
}
@media (min-width: theme("screens.2xl")) {
  .double-phone .imagebox .phone,
.desktop-windows .imagebox .phone {
    width: 70%;
  }
}
.double-phone .imagebox .phone.phone-1 img,
.desktop-windows .imagebox .phone.phone-1 img {
  transform: rotate(15deg) translate(-30%, 7.5%);
}
.double-phone .imagebox .phone.phone-2 img,
.desktop-windows .imagebox .phone.phone-2 img {
  transform: rotate(-20deg) translate(-10%, 80%);
}
.double-phone .imagebox .window-container-1,
.double-phone .imagebox .window-container-2,
.desktop-windows .imagebox .window-container-1,
.desktop-windows .imagebox .window-container-2 {
  will-change: transform;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.2);
}
.double-phone .imagebox .window-container-1 .window,
.double-phone .imagebox .window-container-2 .window,
.desktop-windows .imagebox .window-container-1 .window,
.desktop-windows .imagebox .window-container-2 .window {
  width: 100vw;
}
@media (min-width: theme("screens.lg")) {
  .double-phone .imagebox .window-container-1 .window,
.double-phone .imagebox .window-container-2 .window,
.desktop-windows .imagebox .window-container-1 .window,
.desktop-windows .imagebox .window-container-2 .window {
    width: 40vw;
  }
}
.double-phone .imagebox .window-container-1,
.desktop-windows .imagebox .window-container-1 {
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}
@media (min-width: theme("screens.lg")) {
  .double-phone .imagebox .window-container-1,
.desktop-windows .imagebox .window-container-1 {
    margin-top: 5rem;
  }
}
.double-phone .imagebox .window-container-2,
.desktop-windows .imagebox .window-container-2 {
  margin-left: 5rem;
  margin-top: 22.5rem;
}
@media (min-width: theme("screens.lg")) {
  .double-phone .imagebox .window-container-2,
.desktop-windows .imagebox .window-container-2 {
    margin-top: 35rem;
  }
}
@media (min-width: theme("screens.3xl")) {
  .double-phone .imagebox .window-container-2,
.desktop-windows .imagebox .window-container-2 {
    margin-top: 45rem;
  }
}

.section-homeheader .changing-word {
  position: absolute;
  margin-left: 1rem;
  animation: rotateWord 18s linear infinite 0s;
  opacity: 0;
}
.section-homeheader .changing-word::after {
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F7A02D;
  position: absolute;
  content: "";
  display: block;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  28% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.section-projects .category .inner-circle {
  width: 100%;
  height: 100%;
  max-width: 1rem;
  max-height: 1rem;
  transition: all 0.3s ease;
}
.section-projects .category .text {
  transition: all 0.3s ease;
}
.section-projects .category:hover .inner-circle {
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.section-projects .category:hover .text {
  color: rgba(255, 255, 255, 0.75);
}
.section-projects .category.active .inner-circle {
  background-color: #F7A02D;
}
.section-projects .project-wrapper {
  max-height: 0;
  opacity: 0;
  transition: all 0.6s ease;
  will-change: max-height;
  overflow: hidden;
  pointer-events: none;
}
.section-projects .project-wrapper.active {
  margin-top: 3rem;
  opacity: 1;
  max-height: 200rem;
  pointer-events: all;
}
@media (min-width: theme("screens.lg")) {
  .section-projects .project-wrapper.active {
    margin-top: 0;
    max-height: 65rem;
  }
}
@media (min-width: theme("screens.3xl")) {
  .section-projects .project-wrapper.active {
    max-height: 80rem;
  }
}

.section-project .usp .inner-circle {
  width: 100%;
  height: 100%;
  max-width: 1rem;
  max-height: 1rem;
  transition: all 0.3s ease;
}
.section-project .usp .text {
  transition: all 0.3s ease;
}
.section-project .usp:hover .inner-circle {
  background-color: rgba(255, 255, 255, 0.25);
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.section-project .usp:hover .text {
  color: rgba(255, 255, 255, 0.75);
}
.section-project .usp.active .inner-circle {
  background-color: #F7A02D;
}
.section-project .double-phone-showcase .image-container {
  width: 100vw;
  overflow: hidden;
}
.section-project .double-phone-showcase .image-container .image-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 50000px;
  padding: 5rem 0 5rem 5rem;
}
.section-project .double-phone-showcase .image-container .image-wrapper .phone-image {
  width: 20rem;
}
.section-project .double-phone-showcase .image-container .image-wrapper .phone-image.active {
  width: 30rem;
}
.section-project .double-phone-showcase .image-container .image-wrapper .phone-image img {
  width: fit-content;
  height: fit-content;
}